<!DOCTYPE html>
<html>
<head>
    <title>Quotes</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'quote-list' %}">Quotes</a>
            <a href="{% url 'top-tags' %}">Top Tags</a>
            {% if user.is_authenticated %}
                <a href="{% url 'add-author' %}">Add Author</a>
                <a href="{% url 'add-quote' %}">Add Quote</a>
                <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
